{% extends 'base.html' %}

{% block content %}
  <div class="container mt-7">
    <div class="row">
    {% for new in topic.newspapers.all %}
      <div class="col-md-6">
        <div class="card">
          <img src="/static/assets/img/breaking-news-tv-screensaver-urgent-announcement_8071-2144.jpg" class="card-img-top" alt="news">
          <div class="card-body">
            <h5 class="card-title text-center">{{ new.title }}</h5>
            <p class="card-text mt-4">{{ new.content }}</p>
            <a href="#" class="btn btn-primary" onclick="return false;">More</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
